<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Tracker Prototype</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>
<body>
<% if session[:user_name]==nil %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/"><i class="fi-home"></i> Home</a></li>
      <li class="active"><a href="#"><i class="fi-clock"></i>Track!</a></li>     
	 <li><a href="/stats"><i class="fi-graph-bar"></i> Stats</a></li>
      <li><a href="#" style="pointer-events:none;"><i class="fi-torso"></i> You're logged in as <%= session[:user_name] %></a></li>
    </ul>
  </section>
</nav>

<!--
<p>
	<form name="time_tracker" id="newTrackerForm" method="POST" action="/time_trackers" > 
		<p>What are you tracking?<br/><input type="text" name="comment" id="trackerComment"/></p>
		<p>Username <br/><input type="text" name="username" value="<%= @username %>" readonly /></p>
		<p>Type <br/><input type="text" name="typ" value="sec" readonly /></p>
		<p>Start time <br/><input id="startTime" type="text" name="start" readonly /></p>
		<p>Finish time <br/><input id="finishTime" type="text" name="finish" readonly /></p>
	</form>
	<button onclick="if (checkComment()) {setStartTime(); timerVar = setInterval(trackerFunction, 1000);} else alert('Comment field cannot be empty');" id="startButton"> Go ! </button>
	<button onclick="stopFunc()" id="stopButton" style="visibility:hidden"> Stop ! </button>
	<b><span id="timer">0</span> sec</b>
</p>

<b> Track records for <%= @username %> </b>
<hr>
<br/>
<table style="border:1px solid black;width:100%;">
<tr>
	<td><b>Comment</b></td>
	<td><b>Type</b></td>
	<td><b>Start date</b></td>
	<td><b>Finish date</b></td>
</tr>
<% @oldTracks.each do |p| %>
	<tr>
		<td> <%=p.comment %></td>
		<td> <%=p.typ %> </td>
		<td> <%=p.start %> </td>
		<td> <%=p.finish %> </td>
	</tr>
<% end %>
</table>
-->
<div style="margin-top:5%;" class="row">
  <div class="medium-4 columns" >
	<form name="time_tracker" id="newTrackerForm" method="POST" action="/time_trackers" >
		<fieldset>
			<legend>New Tracker</legend>
			<label>What are you tracking?
				<input type="text" name="comment" id="trackerComment" placeholder="What are you tracking?">
			</label>
			<input type="hidden" name="username" value="<%= @username %>" readonly />
			<input type="hidden" name="typ" value="sec" readonly />
			<input id="startTime" type="hidden" name="start" readonly />
			<input id="finishTime" type="hidden" name="finish" readonly />
			<!-- buraya diger form elementleri eklenecek (not visible) -->
			<div style="margin-top:5%;" class="row">
				<div class="medium-6 columns">
					<button onclick="if (checkComment()) {setStartTime(); timerVar = setInterval(trackerFunction, 1000);} else alert('Comment field cannot be empty');" id="startButton" type="button" class="button success">Go !</button>
					<button onclick="stopFunc()" id="stopButton" class="button alert" style="display:none"> Stop ! </button>
				</div>
				<div class="medium-6 columns">
					<i style="font-size:25px;" class="fi-clock"></i>
					<span id="timer" style="font-size:25px;"> 0 </span> sec
				</div>
			</div>
		</fieldset>
	</form>
  </div>


  <div class="medium-8 columns" >
    <fieldset>
		<legend>Your track records</legend>
		<table>
			<thead>
				<tr>
					<th>Comment</th>
					<th>Type</th>
					<th>Start</th>
					<th>Finish</th>
				</tr>
			</thead>
			<tbody>
				<% @oldTracks.each do |p| %>
					<tr>
						<td> <%=p.comment %></td>
						<td> <%=p.typ %> </td>
						<td> <%=p.start %> </td>
						<td> <%=p.finish %> </td>
					</tr>
				<% end %>		
			</tbody>
		</table>
	</fieldset>
  </div>
</div>

<!-- Initialize Foundation JS -->
<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>

<script>
	
	function stopFunc(){
		window.clearInterval(timerVar);
		document.getElementById("newTrackerForm").submit();
	}

	function checkComment(){
		return document.getElementById("trackerComment").value!="";
	}

	function setStartTime(){
		var dateTime = getDateTime();
		document.getElementById("startTime").value = dateTime;
		document.getElementById("trackerComment").readOnly = true;
		$('#startButton').hide();
		$('#stopButton').show();
	}

	function trackerFunction() {
		var dateTime = getDateTime();
		document.getElementById("finishTime").value = dateTime;
    	var timer = document.getElementById("timer");
		var time = parseInt(timer.innerHTML);
		time++;
		timer.innerHTML = time.toString();
	}

	function getDateTime() {
    	var now     = new Date(); 
    	var year    = now.getFullYear();
    	var month   = now.getMonth()+1; 
    	var day     = now.getDate();
    	var hour    = now.getHours();
    	var minute  = now.getMinutes();
    	var second  = now.getSeconds(); 
    	if(month.toString().length == 1) {
        	var month = '0'+month;
    	}
    	if(day.toString().length == 1) {
       		var day = '0'+day;
    	}   
    	if(hour.toString().length == 1) {
        	var hour = '0'+hour;
    	}
    	if(minute.toString().length == 1) {
        	var minute = '0'+minute;
    	}
    	if(second.toString().length == 1) {
        	var second = '0'+second;
    	}   
    	var dateTime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;   
     	return dateTime;
	}
</script>
</body>
</html>
