<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Tracker Prototype</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>
<body>

<% if @loggedIn %>

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/"><i class="fi-home"></i> Home</a></li>
      <li><a href="/tracker"><i class="fi-clock"></i> Track!</a></li>     
	  <li class="active"><a href="#"><i class="fi-graph-bar"></i> Stats</a></li>
      <li><a href="#" style="pointer-events:none;"><i class="fi-torso"></i> You're logged in as <%= session[:user_name] %></a></li>
    </ul>
  </section>
</nav>

<% else %>

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/"><i class="fi-home"></i> Home</a></li>
      <li><a href="/signup"><i class="fi-torso"></i> Sign Up</a></li>
      <li><a href="/login"><i class="fi-foot"></i> Log in</a></li>    
	  <li class="active"><a href="#"><i class="fi-graph-bar"></i> Stats</a></li>
    </ul>
  </section>
</nav>

<% end %>

<div class="row" style="margin-top:5%;">
  <div class="medium-4 columns">
	<div class="panel">
		<h3>General stats</h3>
		<p><i class="fi-torso" style="font-size:40px;"></i><span style="font-size:40px;"> <%= @userCount %></span> users</p>
		<p><i class="fi-clock" style="font-size:40px;"></i><span style="font-size:40px;"> <%= @trackCount %></span> tracks</p>
	</div>
  </div>
  <div class="medium-8 columns">
	<div class="panel">
		<h3>Stats by user</h3>
		<p>
 			<form method="POST" action="/statistics">
				<label for="name">Username (leave here empty to search all users)
					<input type="text" placeholder="Name" name="username" id="name">
  				</label>

  				<label for="num">Search options
    				<select id="typ" name="typ">
      					<option value="day">Today</option>
      					<option value="month">This month</option>
						<option value="year">This year</option>
    				</select>
  				</label>
				<button type="submit" class="button success">Search !</button>
			</form>
		</p>
		<p>

		</p>
		<% if flash[:results]!=nil %>
		<p>
  			<fieldset>
    			<legend>Search results</legend>
				<table>
					<thead>
						<tr>
							<th>Comment</th>
							<th>Type</th>
							<th>Start</th>
							<th>Finish</th>
							<th>User</th>
						</tr>
					</thead>
					<tbody>
							<% ary = flash[:results] %>
							<% ary.each { |x| %>
								<tr>
									<td> <%= x["comment"] %> </td>
									<td> <%= x["type"] %> </td>
									<td> <%= x["start"] %> </td>
									<td> <%= x["finish"] %> </td>
									<td> <%= x["user"] %> </td>
								</tr>
							<% } %>
					</tbody>
				</table>
			</fieldset>
		</p>
		<% end %>
	</div>
  </div>
</div>

<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>

</body>
</html>
